/* below css hides growls in small screens and makes messages visible */
@media ( max-width : 768px) {
	body div.ui-growl {
		display: none;
	}
	body div.ui-messages {
		display: block;
	}
}
/* below css hides messages in medium/big devices and makes growl visible in such devices */
@media ( min-width : 769px) {
	body div.ui-growl {
		display: block;
	}
	body div.ui-messages {
		display: none;
	}
}

body.login-page {
	background-color: transparent;
}

html {
	background: url(#{ resource [ 'images:login-bg.jpg' ]
}

)
no-repeat
 
center
 
center
 
fixed
;

                
-webkit-background-size
:
 
cover
;

                
-moz-background-size
:
 
cover
;

                
-o-background-size
:
 
cover
;

                
background-size
:
 
cover
;

            
}
@media ( max-width : 768px) {
	html {
		background-image: url(#{ resource [ 'images:login-bg.jpeg' ]
	}
	);
}
}